button, a.button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  vertical-align: middle;
  font: inherit;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0 30px;
  width: 100%;
  height: 40px;
  font-weight: 700;
  font-size: var(--font-size, var(--fs));
  background-color: var(--primary-color, var(--pc));
  border-radius: var(--border-radius, var(--br));
  transition: opacity .3s;
  overflow: hidden;
}

button:disabled, a.button:disabled {
  opacity: .5;
  cursor: default;
}

button.outlined, a.button.outlined {
  padding: 0 28.5px;
  color: var(--primary-color, var(--pc));
  border: 1.5px solid currentColor;
  background-color: #fff;
}

button.tonal, a.button.tonal {
  color: var(--primary-color, var(--pc));
  background-color: color-mix(in srgb, currentColor 20%, #fff);
}

button.minor, a.button.minor {
  --primary-color: var(--grayColor);
}

button.warning, a.button.warning {
  --primary-color: var(--wc);
}

button.danger, a.button.danger {
  --primary-color: var(--ec);
}

button.success, a.button.success {
  --primary-color: var(--sc);
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: currentColor;
  transform: scale(0);
  opacity: 0;
  width: 0;
  height: 0;
}

.ripple.spread {
  animation: spread .3s ease-out forwards;
}

.ripple.fade-out {
  animation: fadeOut .3s linear forwards;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading:before {
  --circleColor: color-mix(in srgb, currentColor 20%, transparent);
}

@keyframes spread {
  from {
    transform: scale(0);
    opacity: 0.6;
  }

  to {
    transform: scale(1);
    opacity: 0.3;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 0.3;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}