label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

label.disabled {
    color: var(--grayColor);
    cursor: default;
}

label.disabled input {
    background-color: var(--silverColor);
}

input {
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: var(--primaryColor, var(--pc));
    border-radius: var(--borderRadius, var(--br));
}

input::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #fff;
    clip-path: polygon(10% 45%, 0% 58%, 45% 94%, 100% 15%, 86% 6%, 43% 67%);
    transform: scale(0);
    transition: .2s transform;
}

input:checked::before {
    transform: scale(1);
}

input+div {
    margin-left: 5px;
}