.dialog {
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    user-select: none;
}

.dialog-panel {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 80%;
    max-height: 80%;
    min-width: 300px;
    border-radius: var(--borderRadius, var(--br));
    overflow: hidden;
}

.dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 700;
    background-color: var(--platColor);
}

.dialog-body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 25px;
}

.dialog-footer {
    display: flex;
}

button {
    position: relative;
    font: inherit;
    font-weight: 700;
    outline: 0;
    height: 45px;
    cursor: pointer;
    background-color: #fff;
    color: var(--grayColor);
    border: 1px solid transparent;
    border-top-color: var(--platColor);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    flex: 1;
}

button:not(:first-child) {
    border-left-color: var(--platColor);
}

button.primary {
    color: var(--fontColor, var(--fc));
}

button:active {
    background-color: var(--platColor);
}

button:disabled {
    cursor: default;
    background-color: #fff;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fade-in {
    animation: fadeIn ease .3s forwards;
}

.fade-out {
    animation: fadeOut ease .3s forwards;
}

.scale-in {
    animation: scaleIn ease .3s forwards;
}

.scale-out {
    animation: scaleOut ease .3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}