.field {
    display: flex;
    align-items: center;
    border: 1px solid var(--lineColor, var(--lc));
    border-radius: var(--borderRadius, var(--br));
    height: 40px;
    transition: .3s;
}

.field:focus-within {
    border-color: var(--primaryColor, var(--pc));
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
}

.field:focus-within > label:after {
    background-color: var(--primaryColor, var(--pc));
}

.field label {
    position: relative;
    cursor: default;
    width: 30%;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
}

.field label:after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 0;
    width: 1px;
    background-color: var(--lineColor, var(--lc));
    transition: .3s;
}

.field.required > label:after {
    background-color: var(--dangerColor, var(--dc));
}

.field input {
    font: inherit;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    flex: 1;
}

.field input[disabled] {
    color: var(--minorColor, var(--mc));
    background-color: #fff;
    pointer-events: none;
}

.icon-trigger {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: top 49% right 0;
    cursor: pointer;
}