.field {
    display: flex;
    border-radius: var(--borderRadius, var(--br));
    border: 1px solid var(--silverColor);
    transition: .3s;
}

.field:focus-within {
    border-color: var(--primaryColor, var(--pc));
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
}

.field:focus-within>label:after {
    background-color: var(--primaryColor, var(--pc));
}

.field.required>label:after {
    background-color: var(--errorColor, var(--ec));
}

.field.plain {
    border-color: transparent;
}

.field.tonal>label {
    border-top-left-radius: var(--borderRadius, var(--br));
    border-bottom-left-radius: var(--borderRadius, var(--br));
    background-color: var(--platColor);
}

.field>label {
    position: relative;
    display: flex;
    align-items: baseline;
    cursor: default;
    width: 30%;
    padding: 7px 20px;
    white-space: nowrap;
    overflow: hidden;
}

.field>label:after {
    content: '';
    position: absolute;
    top: 9px;
    bottom: 9px;
    right: 0;
    width: 1px;
    background-color: var(--silverColor);
    transition: .3s;
}

.field-body {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
    margin: 0 10px;
}

.field-body input {
    font: inherit;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.field-body input[disabled] {
    color: var(--grayColor);
    pointer-events: none;
    background: transparent;
}

.field-icon {
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
    outline: 0;
    width: 40px;
    padding: 10px;
    fill: var(--grayColor);
    border-top-right-radius: var(--borderRadius, var(--br));
    border-bottom-right-radius: var(--borderRadius, var(--br));
    transition: .2s;
}

.field-icon:hover {
    opacity: .6;
}

.field-icon:active {
    opacity: .8;
}

.field-icon>*, .loading:before {
    display: block;
    width: 16px;
    height: 16px;
}

::slotted([contenteditable]) {
    outline: 0;
    padding: 5px 0;
    width: 100%;
    min-height: 80px;
}