.quick-field {
    display: flex;
    align-items: center;
    border: 1px solid var(--lineColor);
    border-radius: var(--borderRadius);
    height: 40px;
    margin: 5px;
    transition: .3s;
}

.quick-field:focus-within {
    border-color: var(--primaryColor);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
}

.quick-field:focus-within>label:after {
    background-color: var(--primaryColor);
}

.quick-field>label {
    position: relative;
    cursor: default;
    width: 30%;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
}

.quick-field>label:after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 0;
    width: 1px;
    background-color: var(--lineColor);
    transition: .3s;
}

.quick-field.required>label:after {
    background-color: var(--dangerColor);
}

.quick-field>input {
    font: inherit;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    flex: 1;
}

.quick-field>input[disabled] {
    color: var(--minorColor);
    background-color: #fff;
    pointer-events: none;
}

.icon-trigger {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: top 49% right 0;
    cursor: pointer;
}