*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #18c;
  --minor-color: #999;
  --line-color: #ccc;
  --heading-color: #333;
  --font-color: #333;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  --font-size: 15px;
  --spacing: 15px;
  --border-radius: 5px;
}

::placeholder {
  color: var(--minor-color);
}

html {
  font-size: var(--font-size);
}

html.scroll-blocked {
  position: fixed;
  overflow-y: scroll;
  left: var(--th-scroll-x);
  top: var(--th-scroll-y);
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: var(--font-family);
  color: var(--font-color);
}

img {
  max-width: 100%;
}

iframe {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0 0 var(--spacing) 0;
}

h1, h2, h3 {
  color: var(--heading-color);
}

h1 {
  font-size: 3rem;
  line-height: 3.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: inherit;
}

table.thyme {
  --headBgColor: #ddd;
}

table.thyme.list {
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--line-color);
  width: 100%;
}

table.thyme.list th, table.thyme.list td {
  height: 40px;
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

table.thyme.list th {
  background-color: var(--headBgColor);
}

table.thyme.list td {
  border-left: 1px solid #f3f3f3;
  border-top: 1px solid var(--line-color);
}

table.thyme.list th:first-child {
  border-top-left-radius: var(--border-radius);
}

table.thyme.list th:last-child {
  border-top-right-radius: var(--border-radius);
}

table.thyme.list tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

table.thyme.list tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

[tooltip] {
  position: relative;
}

[tooltip]:before, [tooltip]:after {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  bottom: 100%;
  left: 50%;
  transform: translate3d(-50%, -10px, 0);
  transition: opacity .5s;
}

[tooltip]:hover:before, [tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

[tooltip]:before {
  content: '';
  z-index: 1000011;
  background-color: transparent;
  border: 6px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.7);
  margin-bottom: -12px;
}

[tooltip]:after {
  content: attr(tooltip);
  z-index: 1000010;
  margin-right: -300px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

th-button {
  display: inline-block;
}