.select {
    display: flex;
    flex-direction: column;
    position: absolute;
    user-select: none;
    z-index: 5001;
    width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 16px rgb(0 0 0 / 8%);
}

.select::-webkit-scrollbar {
    width: 6px;
}

.select::-webkit-scrollbar-thumb {
    background-color: var(--platColor);
}

.select::-webkit-scrollbar-thumb:hover {
    background-color: var(--silverColor);
}

.option {
    cursor: pointer;
    padding: 5px 20px;
    transition: .3s;
}

.option.disabled {
    color: var(--grayColor);
    cursor: default;
}

.option.selected, .option:not(.disabled):hover {
    background-color: var(--platColor);
}

.overlay {
    background: none;
}

::slotted(*) {
    display: none;
}