.select {
    display: flex;
    flex-direction: column;
    position: absolute;
    user-select: none;
    z-index: 5001;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 16px rgb(0 0 0 / 8%);
}

.select::-webkit-scrollbar {
    width: 6px;
}

.select::-webkit-scrollbar-thumb {
    background-color: var(--platColor);
}

.select::-webkit-scrollbar-thumb:hover {
    background-color: var(--silverColor);
}

.option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px 5px 40px;
    transition: .3s;
}

.option.disabled {
    color: var(--grayColor);
    cursor: default;
}

.option:not(.disabled):hover {
    background-color: var(--platColor);
}

.option.selected::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 18px;
    clip-path: polygon(7% 47%, 0% 57%, 45% 93%, 100% 13%, 90% 7%, 44% 73%);
    background-color: var(--primaryColor, var(--pc));
}

.overlay {
    background: none;
}

slot {
    display: none;
}