*,
*:before,
*:after {
    box-sizing: border-box;
}

:host {
    line-height: 1.6;
    color: var(--fontColor, #333);
    font-size: var(--fontSize, 15px);
    font-family: var(--fontFamily, system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, Tahoma, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif);
}

svg.icon path {
    fill: #999;
}

.quick-overlay {
    position: fixed;
    z-index: 5000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.quick-fade-in {
    animation: fadeIn ease .3s forwards;
}

.quick-fade-out {
    animation: fadeOut ease .3s forwards;
}

.quick-scale-in {
    animation: scaleIn ease .3s forwards;
}

.quick-scale-out {
    animation: scaleOut ease .3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale3d(0.8, 0.8, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale3d(1, 1, 1);
    }

    to {
        transform: scale3d(0.8, 0.8, 1);
    }
}