.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch i {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--silverColor);
  border-radius: 26px;
  transition: .3s;
}

.switch i:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 6px;
  bottom: 5px;
  background-color: #fff;
  border-radius: 50%;
  transition: .3s;
}

input:checked+i {
  background-color: var(--primaryColor, var(--pc));
}

input:checked+i:before {
  transform: translateX(12px);
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
}