.quick-toast {
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 0;
}

.quick-toast>div {
    margin-top: 80px;
    margin-bottom: auto;
    max-width: 80%;
    padding: 6px 15px;
    border-radius: 3px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.quick-toast>div.warn {
    background-color: rgba(255, 140, 0, 0.6);
    color: var(--fontColor, var(--_fontColor));
}

.quick-toast>div.error {
    background-color: rgba(217, 37, 7, 0.6);
}

.quick-toast>div.success {
    background-color: rgba(43, 155, 23, 0.6);
}

.bounce-in {
    animation: bounceIn cubic-bezier(.17, .88, .48, 1.5) .3s forwards;
}

.bounce-out {
    animation: bounceOut cubic-bezier(.17, .88, .48, 1.5) .3s forwards;
}

@keyframes bounceIn {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bounceOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-150px);
    }
}