.toast {
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 0;
}

.toast > div {
    margin-top: 80px;
    margin-bottom: auto;
    max-width: 80%;
    padding: 6px 15px;
    border-radius: 3px;
    font-weight: 700;
    color: #fff;
    background-color: color-mix(in srgb, var(--fontColor) 80%, transparent);
}

.toast > div.warning {
    --fontColor: var(--wc);
}

.toast > div.error {
    --fontColor: var(--dc);
}

.toast > div.success {
    --fontColor: var(--sc);
}

.bounce-in {
    animation: bounceIn cubic-bezier(.17, .88, .48, 1.5) .3s forwards;
}

.bounce-out {
    animation: bounceOut cubic-bezier(.17, .88, .48, 1.5) .3s forwards;
}

@keyframes bounceIn {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bounceOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-150px);
    }
}