.quick-upload {
    display: flex;
}

.file-chooser {
    margin-right: 20px;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 -5px -5px 0;
}

.file-entry {
    display: flex;
    margin: 0 5px 5px 0;
    padding: 3px 8px;
    border-radius: var(--borderRadius, var(--br));
    background-color: var(--paleColor, var(--ac));
}

.file-entry > a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: var(--grayColor, var(--gc));
    text-decoration: none;
    cursor: pointer;
}

a.chooser {
    cursor: pointer;
    color: var(--linkColor, var(--pc));
    font-weight: 700;
}

a.chooser:hover, a.preview-link:hover {
    text-decoration: underline;
}

a.download-icon svg.icon path {
    fill: var(--primaryColor, var(--pc));
}

a.remove-icon svg.icon path {
    fill: var(--dangerColor, var(--dc));
}

input[type="file"] {
    display: none;
}

svg.icon {
    width: 16px;
    height: 16px;
}