.field {
    align-items: baseline;
    height: auto;
    min-height: 40px;
}

.upload-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.upload-entry {
    display: flex;
    margin: 0 5px 5px 0;
    padding: 3px 8px;
    border-radius: var(--borderRadius, var(--br));
    background-color: var(--platColor);
}

.upload-entry>a {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: var(--carbonColor);
    text-decoration: none;
    cursor: pointer;
}

a.download-icon svg.icon path {
    fill: var(--primaryColor, var(--pc));
}

a.remove-icon svg.icon path {
    fill: var(--errorColor, var(--ec));
}

a:hover {
    text-decoration: underline;
}

input[type="file"] {
    display: none;
}

svg.icon {
    width: 16px;
    height: 16px;
}